PORT = 5000
MONGO_URI = mongodb://127.0.0.1:27017/expenseTrackerDB
JWT_SECRET = random_key_123ljlkoiojdsfjoi9uo32

# This for get the secret key
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"